body{
  background-color: black;
  color: white;
  font-family: Roboto, Arial;
  display: flex;
  align-items: top;
}

main{
  z-index: 100;
}

p{
  margin: 0;
}

@media (max-width:780px){
  .design-medium{
    display: none;
  }

  .design-large{
    display: none;
  }

  body{
    padding: 78px 0px 60px 0px;
  }
}

@media (min-width:780.5px) and (max-width:1150px){
  .design-small{
    display: none;
  }
 
  .design-large{
    display: none;
  }

  body{
    padding: 20px 0px 60px 72px;
  }
}
@media (min-width:1050.5px){
  .design-small{
    display: none;
  }

  .design-medium{
    display: none;
  }

  body{
    padding: 19px 0px 60px 273px;
  }
}